<form id="form-new-comment">
    <div class="form-group">
        <input type="text" class="form-control" name="comment" placeholder="Ingrese su comentario">
    </div>
    <div class="form-group selectpicker">
        <select name="stars" id="">
            <option value="">Elije una valoracion</option>
            <option value="1">1 estrella</option>
            <option value="2">2 estrella</option>
            <option value="3">3 estrella</option>
            <option value="4">4 estrella</option>
            <option value="5">5 estrella</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">
            Comentar
        </button>
    </div>
</form>

<textarea name="comment" id="comment" class="form-control" placeholder="Ingrese su comentario"  rows="3"></textarea>

<section>
   <button class="btn btn-info font-weight-bold">Filtrar</button>
    <div class="row text-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <input type="text" name="filter" id="textFilter" placeholder="Titulo de la actividad">
                        </div>
                
                        <div class="form-group">
                            <input type="number" name="min" id="min" placeholder="$">
                        </div>
                
                        <div class="form-group">
                            <input type="number" name="max" id="max" placeholder="$">
                        </div>
                
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

