body, html {
    min-height: 100vh !important;
}

.container-body {
    min-height: 62vh !important;
}

.custom-footer {
    position: absolute;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.bg-gaston {
    background-color: blue;
}

.fw-u {
    font-size: 20px !important;
}

.fw-uu {
    font-size: 27px;
}